<div class="dashboard-container">
    <div class="dashboard-cards">
        <div class="dashboard-card" [routerLink]="['/dashboard-admin/client-management']">
            <div class="card-content">
                <h5 class="card-title">Client Management</h5>
                <p class="card-text">Manage client accounts</p>
            </div>
        </div>
        <div class="dashboard-card" [routerLink]="['/dashboard-admin/policy-managment']">
            <div class="card-content">
                <h5 class="card-title">Policy Management</h5>
                <p class="card-text">Manage insurance policies</p>
            </div>
        </div>  
    </div>

</div>