<div class="dashboard-container">
    <div class="dashboard-cards">
        <div class="dashboard-card" [routerLink]="['/dashboard-client/my-policies']">
            <div class="card-content">
                <h5 class="card-title">My policies</h5>
                <p class="card-text">View all my policies</p>
            </div>
        </div>
        <div class="dashboard-card" [routerLink]="['/dashboard-client/view-all-policies']">
            <div class="card-content">
                <h5 class="card-title">Buy policy</h5>
                <p class="card-text">Buy insurance policies</p>
            </div>
        </div>  
    </div>

</div>